.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}
.navbar_logo {
  height: 50px;
  object-fit: contain;
  margin-left: 20px;
}
.navbar_izquierda {
  display: flex;
  align-items: center;
}

.navbar_input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
  border-radius: 3px;
}

.navbar_input > input {
  flex: 1;
  border: 0;
  outline: none;
}

.navbar_icons {
  display: flex;
  align-items: center;
}
.icono{
    padding: 10px;
}
.navbar_buscador{
    width: 65px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    cursor:pointer;
    border-radius: 0 2px 2px 0;
    transition:  .3s;
}
.navbar_buscador:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.6);
}